*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*nav*/
.nav .navv{
    width:5%;
    height: 5%;
    display: inline;
}
.nav h1 , .nav small {
    display: inline;
    color:rgb(170, 9, 9);
    position: relative;
    bottom:10px;
}
.nav a{
    padding: 20px;
    margin: 5px;
}
.nav small{
    position: relative;
    left: 70px;
    bottom: 20px;
    font-size: 10px;
}
.nav h1{
    font-size: 30px;
}
.nav{ 
    width: 100%;
   
}
.nav .opeeen img{width: 0px; 
    height: 0px;}
.nav-link .oo {
    width: 0;
    height: 0;
}

.nav-link {
    margin-left: 300px;
    margin-top: -40px;
}
.nav-link ul li {
    display: block;
    float: left; 
    margin-top: 20px}
    
.nav-link a {
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/*av media*/
@media screen and (max-width:1000px) {
.opeen .opeeen{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
.nav-link .oo {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.nav-link {
    position: fixed;
    right: -450px;
    bottom: 0px;
    width: 200px;
    height: 300px;
    line-height: 20px;
    transition: all 2s ease-out;
    top: 40px;
    /*display: block;*/
    border-radius: 30px;
    padding-bottom: 50px;
}
.nav .navv{
    width: 15%;
    height: 15%;
    display: inline;
    margin-top: 2%;
    margin-left: 0%;
}
.nav h1 , .nav small{
    display: inline;
    color:rgb(170, 9, 9);
    position: relative;
    bottom:10px;
}
.nav small{
    position: relative;
    left: 70px;
    bottom: 20px;
    font-size: 10px;
}
.nav h1{
    font-size: 20px;
}
.top img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}}
.nav-link a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
/*top*/
.top img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.top h1{
    text-align: center;
    color: gray;
    font-size: 25px;
    padding-top:30px;
}
.body{
    background-color: rgb(246, 255, 246);
    margin: 30px;
    padding: 50px;
    text-align: center;
}
.body {
    line-height: 20px;
    padding: 40px;
    margin: 20px;
    overflow: hidden;
}
/* The container */
.container {
    position: relative;
   padding-left:30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
} 
  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 15px;

}
  /* On mouse-over, add a grey background color */


  /* When the checkbox is checked, add a blue background */


  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}  
  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
} 
  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.check{
    display: inline;
    background-color:rgb(170, 9, 9);
    margin-right: 20px;
    h   display: inline;
   
}
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

input{
    background-color: white;
}
 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}
input[type=submit] {
    background-color:rgb(170, 9, 9);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.footer{
    text-align: center;
    color: gray;
}
hr{
    opacity: .2;
    margin: 20px;
}
